body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse .navbar-nav > li > a {
    color: #8eff96;
    text-decoration: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar img {
    width: 60%;
    height: 60%;
    margin: 5px 5px 5px 5px;
}

.navbar-header {
    max-width: 200px;
}

h1 {
    font-family: 'Chonburi', cursive;
    font-size: 50px;
    line-height: 54px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #202020;
    display: inline-block;
}

.page-header {
    font-size: 50px;
    line-height: 54px;
    padding: 0 15px 18px 0;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;
    font-weight: bold;
    border: none;
}

.date {
    font-weight: bold;
}

.course-name {
    font-size: 26px;
    font-weight: 700;
}

a {
    color: #202020;
}

.cancel-link {
    padding-left: 30px;
}

.editor-multiline-field textarea {
    height: 170px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eeeeee;
}

.btnInLineWithH1 {
    margin-top: 60px;
}

.btn-left-margin {
    margin-left: 100px;
}

.btn {
    margin: 5px 5px 5px 5px;
    min-width:160px;
}

.btn-add {
    background-color: #198521;
    border-color: #198521;
    font-weight: 700;
    text-align: center;
    text-decoration:none;
    border: none;
    border-radius: 0;
    height: 40px;
    color: #fff;
    font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    vertical-align: text-bottom;
}

.btn-add-module, 
.btn-add-student {
    color: #198521;
    background-color: #198521;
    border-color: #198521;
    font-weight: 700;
    text-align: center;
    text-decoration:none;
    border: 1px solid transparent;
    border-radius: 0;
    height: 40px;
    color: #fff;
    font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    vertical-align: text-bottom;
}




.btn-save {
    background-color: #198521;
    border-color: #198521;
    font-weight: 700;
    text-align: center;
    text-decoration:none;
    border: 1px solid transparent;
    border-radius: 0;
    height: 40px;
    color: #fff;
    font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
}

.btn-add:hover,
.btn-add:focus,
.btn-add:active,
.btn-add.active,
.btn-save:hover,
.btn-save:focus,
.btn-save:active,
.btn-save.active,
.btn-add-module:hover, 
.btn-add-student:hover,
.btn-add-module:focus, 
.btn-add-student:focus,
.btn-add-module:active, 
.btn-add-student:active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #50bc58;
  border-color: #50bc58;
  text-decoration:none;
}

.btn-more-info {
    background-color: #6e3694;
    border-color: #6e3694;
    padding: 0 26px 0 10px;
    margin: 0 6px 0 0;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0;
    height: 40px;
    width: 160px;
    color: #fff;
    font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    display: block;
}

.btn-more-info:hover,
.btn-more-info:focus,
.btn-more-info:active,
.btn-more-info.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #824aa8;
  border-color: #824aa8;
  text-decoration:none;
}

.btn-edit {
    background-color: #f57920;
    border-radius:0px;
    border:none;
    font-weight: 700;
    text-align: center;
    height: 40px;
    color: #fff;
    font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    text-decoration:none;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active,
.btn-edit.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #f57920;
  text-decoration:none;
}

.btn-delete {
    background-color: #d60000;
    border-color: #d60000;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0;
    height: 40px;
    color: #fff;
    font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    text-decoration:none;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active,
.btn-delete.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #ee4848;
  border-color: #ee4848;
  text-decoration:none;
}

.btn-delete-confirm {
    background-color: #d60000;
    border-color: #d60000;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0;
    height: 40px;
    color: #fff;
    font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    display: block;
    text-decoration: none;
}

    .btn-delete-confirm:hover,
    .btn-delete-confirm:focus,
    .btn-delete-confirm:active,
    .btn-delete-confirm.active,
    .open .dropdown-toggle.btn-default {
        color: #fff;
        background-color: #ee4848;
        border-color: #ee4848;
        text-decoration:none;
    }

.btn-with-cancel {
    white-space: nowrap;
    display: inline;
    vertical-align: middle;
}

.red-divider {
    color: #d60000;
    font-size: large;
}

.bold-info {
    font-weight: 700;
    font-size:14px;
}

#message {
    background-color: lightgoldenrodyellow;
}

.thick-divider-line {
    border-top: 3px solid;
}

.thick-divider-line-schedule {
    border-top: 3px solid;
    width: 860px;
}

.extra-left-margin {
margin-left: 102px;
}

.schedule-weekend-day {
    /*background-color: #923333;*/
    /*background-color: #e65d5d;*/
    /*background-color: #e2bdbd;*/
    background-color: #e9d6d6;
}

.schedule-table {
  max-width: 860px;
}

.schedule-small-font {
    font-size: 12px;
}

.smallcol {
    width: 10%;
}

.smallmediumcol {
    width: 16%;
}

.mediumcol {
    width: 20%;
}

.largecol {
    width: 25%;
}

.extralargecol {
    width: 35%;
}

.morningcol-schedule {
    width: 32%;
}

.afternooncol-schedule {
    width: 32%;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   height: 40px;
   padding-left: 60px;
   background-color: #eeeeee;
}

.footer-text {
    padding-top: 9px;
    font-size: 11px;
}

summary {
    outline: none;
}

.link-below-table {
    margin-bottom: 40px;
}

.left-margin-for-reset-button {
    margin-left: 4px;
}